
			
@import "iconos.styl"
@import "chosen.styl"


$naranja = #eeae11
$lima = #b9da00
$verde = #416725
$rojo = #EE4035
$cafe_claro = #D3A260
$cafe_oscuro = #664226

html
	min-width: 980px
	overflow-x auto !important
	overflow-y hidden

html, body
	font-family 'Lato', sans-serif
	font-weight 300
	font-size 16px
	height 100%

body
	background-attachment fixed
	background-color transparent
	background-position center  center
	background-repeat repeat, no-repeat, no-repeat 
	background-size auto auto, cover, cover
	color #2b3f30 

body > #wrap
	height auto
	min-height 100%
.orange
	background $naranja
.lime
	background $lima	
.green
	background $verde

::-webkit-input-placeholder{
   color #999
   font-size 13px
   font-weight 300  

}
:-moz-placeholder { /* Firefox 18- */
   color #999
   font-size 13px
   font-weight 300   
}

::-moz-placeholder {  /* Firefox 19+ */
   color #999
   font-size 13px
   font-weight 300  
}

:-ms-input-placeholder {  
   color #999 
   font-size 13px
   font-weight 300    
}
.highlighted
	background-color $naranja !important
	background-image none !important
.chosen-container
	width 100% !important
.chosen-choices
	background-image linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%) !important
	border-radius 5px

	input[type="text"]
		color #999 !important
		height 11px !important
		width auto !important

	/*input[type="text"],input[type="email"],textarea, select
			width 100%
			border-radius 5px
			border 1px solid #c3c3c3
			color #333
			background-image: linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
			appearance: none;
			-webkit-appearance: none;
			-moz-appearance none*/

.home, .bgid-101, .bgid-119,.bgid-120,.bgid-122, .bgid-143, .bgid-144, .bgid-145, .bgid-151
	background-image url('../img/pattern.png') , url('../img/bg.jpg')

.tour//, .bgid-113, .bgid-123, .bgid-124,  .bgid-127, .bgid-133, .bgid-135, .bgid-129, .bgid-130, .bgid-108, .bgid-137, .bgid-136, .bgid-111,.bgid-139, .bgid-147, .bgid-148, .bgid-149, .bgid-150
	background-image url('../img/pattern.png') , url('../img/tour.jpg')

.bgid-113
	background-image url('../img/pattern.png') , url('../img/palo-verde-national-park-boat2.jpg')
.bgid-135, .bgid-161
	background-image url('../img/pattern.png') , url('../img/palo-verde-national-park-boat.jpg')

.bgid-128
	background-image url('../img/pattern.png') , url('../img/palo-verde-national-park-birdwatching.jpg')

.bgid-124
	background-image url('../img/pattern.png') , url('../img/borinquen.jpg')
.bgid-125
	background-image url('../img/pattern.png') , url('../img/buenavista.jpg')
.bgid-138
	background-image url('../img/pattern.png') , url('../img/congo-trail.jpg')
.bgid-126
	background-image url('../img/pattern.png') , url('../img/tenorio-rafting.jpg')
.bgid-131
	background-image url('../img/pattern.png') , url('../img/tenorio-rafting2.jpg')
.bgid-132
	background-image url('../img/pattern.png') , url('../img/colorado-rafting-zipline.jpg')
.bgid-159
	background-image url('../img/pattern.png') , url('../img/colorado-rafting.jpg')
.bgid-134
	background-image url('../img/pattern.png') , url('../img/people-culture.jpg')
.bgid-147
	background-image url('../img/pattern.png') , url('../img/diving.jpg')
.bgid-148
	background-image url('../img/pattern.png') , url('../img/diving2.jpg')
.bgid-149
	background-image url('../img/pattern.png') , url('../img/diving3.jpg')
.bgid-160
	background-image url('../img/pattern.png') , url('../img/guachipelin.jpg')
.bgid-136
	background-image url('../img/pattern.png') , url('../img/rincon-de-la-vieja.jpg')
.bgid-123
	background-image url('../img/pattern.png') , url('../img/tenorio-llanos-del-cortez.jpg')
.bgid-162
	background-image url('../img/pattern.png') , url('../img/nicaragua.jpg')
.bgid-163
	background-image url('../img/pattern.png') , url('../img/nicaragua.jpg')
.bgid-121
	background-image url('../img/pattern.png') , url('../img/sostenible.jpg')
.bgid-139
	background-image url('../img/pattern.png') , url('../img/snorkeling.jpg')
.bgid-137
	background-image url('../img/pattern.png') , url('../img/rio-celeste.jpg')
.bgid-120
	background-image url('../img/pattern.png') , url('../img/costa-rica-facts.jpg')	
.bgid-130
	background-image url('../img/pattern.png') , url('../img/surf.jpg')
.bgid-129
	background-image url('../img/pattern.png') , url('../img/tenorio-birdwatching.jpg')	
.bgid-133
	background-image url('../img/pattern.png') , url('../img/cartagena-zipline.jpg')
.bgid-135
	background-image url('../img/pattern.png') , url('../img/guaitil.jpg')
.bgid-153
	background-image url('../img/pattern.png') , url('../img/arenal-day-tour.jpg')
.bgid-154
	background-image url('../img/pattern.png') , url('../img/arenal-overnight.jpg')
.bgid-155
	background-image url('../img/pattern.png') , url('../img/arenal-activities.jpg')
.bgid-127
	background-image url('../img/pattern.png') , url('../img/rio-perdido.jpg')
.bgid-156
	background-image url('../img/pattern.png') , url('../img/monteverde-day-tour.jpg')	
.bgid-157
	background-image url('../img/pattern.png') , url('../img/monteverde-overnight.jpg')	
.bgid-158
	background-image url('../img/pattern.png') , url('../img/monteverde-activities.jpg')	
.bgid-164
	background-image url('../img/pattern.png') , url('../img/fishing.jpg')
.bgid-119
	background-image url('../img/pattern.png') , url('../img/about.jpg')
.bgid-140
	background-image url('../img/pattern.png') , url('../img/airport.jpg')	
.bgid-141
	background-image url('../img/pattern.png') , url('../img/weddings.jpg')	
.bgid-142
	background-image url('../img/pattern.png') , url('../img/groups.jpg')
.bgid-152
	background-image url('../img/pattern.png') , url('../img/vandara.jpg')
//404
.bgid-102
	background-image url('../img/pattern.png') , url('../img/bg.jpg')

.bgid-174,.bgid-177,.bgid-178,.bgid-179,.bgid-180,.bgid-181,.bgid-182,.bgid-183,.bgid-184,.bgid-185,.bgid-186,.bgid-187,.bgid-188,.bgid-189,.bgid-190,.bgid-191,.bgid-192
	background-image url("../img/pattern.png"),url("../img/destinations.jpg")

.text404
	background-color rgba(255, 255, 255, 0.9) 
	padding 20px

	a 
		color $verde

	


p
	color #2b3f30 

#left-container
	float left
	margin-left 20px

	#menu-top
		height 80px
		//overflow hidden
		ul 
			margin .5em 0 0
			padding 0
			width 90%
			
			

			.menu-item
				//background #000
				//opacity 0.8
				list-style none
				padding-bottom 10px
				padding-left 15px
				//display inline-block
				//vertical-align top
				

				a, span
					color #FFF
					text-decoration underline
				

				.submenu
					margin -10px 0 0
					padding .5em
					li
						line-height 25px
						list-style none
						margin-left 15px
						text-align left

						a
							color #FFF
							display block
							font-size 12px
							text-decoration none
							text-transform none
							width 100%
						
						a:hover
							background rgba(0,0,0,0.1)

		.navtoogle
			background rgba(0, 0, 0, 0.6)
			border-bottom 4px solid $naranja
			border none
			color #FFF
			cursor pointer
			display none	
			font-family 'Lato',Calibri,Arial,sans-serif
			font-size 1.2em
			font-weight normal
			padding 0.5em 0.5em 0.8em
			text-align left
			width 90%

		.menu
			background rgba(0,0,0,0.8)
			max-height 0em
			overflow hidden

		.active	+ ul	
			-moz-transition max-height .4s
			-ms-transition max-height .4s
			-o-transition max-height .4s
			-webkit-transition max-height .4s
			//overflow: hidden;
			max-height 85em
			transition max-height .4s

		.menu-top-item:hover .border-item
			display block

		.large
			width 215px !important

		.menu-top-item
			background rgba(0, 0, 0, 0.6)
			color #FFF
			cursor pointer
			display inline-block
			font-family 'Lato', sans-serif
			font-size 14px
			font-weight 300
			height 70px
			margin-right .1em
			padding-top 1em
			text-align center
			vertical-align top
			width 95px


			.icon-envelop
				float left
				margin-top 2px 
				padding-left .5em
				height 15px
			p 
				color #fff
				font-size 12px
				margin 0 0 .2em 0

				a 
					color #FFF
					text-decoration none

				a:hover
					text-decoration underline
			

			.border-item
				display none
				height 5px
				margin 5px auto 0
				width 90%

			span.icon
				display block
				font-size 2em
				margin-bottom 0.2em
				opacity .5
				text-align center

			span 
				color #FFF
				display block
				font-size 12px
				text-decoration none
	
	#reservationbox, #callbox, #contactbox

		.column1, .column2
			display inline-block
			vertical-align top
			width 45%
		.column1
			margin-right 40px
		h1
			color $verde
			font-family 'Lato', sans-serif
			font-size 24px
			margin-bottom 10px
			margin-top 0
			text-transform capitalize

		p 
			margin-bottom 6px
			margin-top 0
			//#formulario, #formularioC
				
		label
			display inline-block
			font-size 14px
			margin-bottom 2px

		label.error
			color $rojo
		
		input[type="text"],input[type="email"],textarea, select
			-moz-appearance none
			-webkit-appearance none
			//font-size 13px
			appearance none
			background-image linear-gradient(#ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%)
			border 1px solid #c3c3c3
			border-radius 5px
			color #444
			width 100%
		
		
		button,input[type="submit"]
			background $lima
			border none
			clear both
			color white
			cursor pointer
			float right
			font-size 12px
			height 26px
			margin-right 4px
			width 80px

		

		.mensaje
				
			span
				border-radius 5px
				padding 0.5em
				width 85%
			.ok
				background #dff0d8
				border 1px solid #d6e9c6
			.error
				background #f2dede
				border 1px solid #eed3d7

		#dialog
			border-bottom 5px solid $naranja
			width 450px

			.close
				background $verde

			

		#reservationFormTrans
			display none 

			
				
		#dialogC
			border-bottom 5px solid $lima
			left 120px
			width 300px

			h1
				color $lima

			.close
				background $lima

		#dialogT 
			border-bottom 5px solid $verde
			left 220px
			width 300px

			h1
				color $verde

			.close
				background $verde
				

		.window
			background white
			display none
			padding 20px
			position fixed
			top 90px
			z-index 9999

			.close
				color white
				padding 24px 6px 6px 6px
				position absolute
				right 10px
				text-decoration none
				top 0px
	#contenido
		#intro
			.intro-text
				color #FFF
				font-family 'Lato', sans-serif
				font-size 68px
				font-weight 100
				margin-bottom 0
				margin-top 20%

				strong
					font-size 90px
					font-weight bold
					text-transform uppercase
			#descarga
				background-color $rojo
				float left
				margin-top 20px
				max-height 250px
				max-width 600px
				min-height 60px
				min-width 230px
				overflow hidden
				position relative

				a 
					color #fff
					display block
					float left
					font-family 'Lato', sans-serif
					font-size 21px
					font-weight 300
					line-height 60px
					margin-left 15px
					margin-right 0
					text-decoration none

				a > span
					background rgba(0, 0, 0, 0.4)
					margin-left .5em
					padding 0.8em 1em

					.icon-arrow-down
						font-size 1.3em
						vertical-align middle
		#content-title
			margin-top 40px
			h1
				//line-height 65px
				color #FFF
				font-family 'Lato', sans-serif
				font-size 36px
				font-weight 300
				margin 0
				max-width 640px
				//text-transform Capitalize
			h1 + h3
				color #fff
				font-weight 300

		#content-article
			//background url('../img/selva_small.png') no-repeat bottom center
			background-color rgba(255, 255, 255, 0.9) 
			clear both
			float left
			margin 20px 0px 0px 0px
			padding 20px
			position relative
			width 600px

			

			#TA_ssnarrowcollectreview275
				width 100%

				iframe
					width 100%

				#CDSWIDCR
					width 100%

			#TA_cdswritereviewlg128, #TA_selfserveprop613
				display inline-block
				vertical-align top 
			#TA_cdswritereviewlg128
				margin-right 10px
				
			#CDSWIDWRL, #CDSWIDSSP
				width 100% !important

			/*#CDSWIDSSP
				width 100% !important*/
			
			ul 
				color #2b3f30
				
			article 
				display none
				font-size 14px
				font-weight 500

				h2
					color $lima
					font-family 'Lato', sans-serif
					font-size 24px
					margin-bottom 10px
					margin-top 0
					text-transform capitalize
					max-width 500px
				h3
					color $naranja

				.description-person, .description-activitie, .description-day,.description-season
					display none
			.team 
				#p1,#p2,#p3
					cursor pointer
			.opactivities
				span 
					cursor pointer
				span:hover
					color $naranja
			.AM 
				.detail-title
					cursor pointer
				.detail-title:hover
					color $naranja
			.SF 
				.detail-subtitle
					cursor pointer
				.detail-subtitle:hover
					color $naranja

			.fish-image
				float left
				width 150px
				margin-right 10px
				margin-top 4px
			.intro
				display block

			.details, .rates, .seasons
				color #2b3f30 



				.detail
					display block

				.detail-title
					font-size 36px
					margin-bottom 10px
					//width 300px

				.detail-subtitle
					color $verde
					font-size 16px
					font-weight bold
					margin-top 10px

				#detail_left
					float left
					width 50%
				#detail_right
					float right
					text-align right
					width 50%
				
				.iconos
					background url('../img/iconos.png') no-repeat
					display inline-block
					margin 5px
					vertical-align top

				.hat
					/*background-position -2px -87px
					width 49px
					height 34px*/
					
					background-position -7px -122px
					height 47px
					width 68px

				.sunglasses
					/*background-position -785px -78px
					width 54px
					height 37px*/
					background-position -1120px -109px
					height 51px
					width 80px
				
				.camera
					/*background-position -76px -87px
					width 40px
					height 34px*/
					background-position -111px -122px
					height 47px
					width 58px

				.sunscreen
					/*background-position -164px -81px
					width 22px
					height 42px*/
					background-position -235px -113px
					height 60px
					width 33px
				.sandals
					/*background-position -305px -89px
					width 35px
					height 35px*/
					background-position -437px -118px
					height 54px
					width 53px

				.repelent
					/*background-position -50px -79px
					width 26px
					height 41px*/
					background-position -75px -108px
					height 61px
					width 36px

				.binoculares
					/*background-position -117px -79px
					width 47px
					height 41px*/
					background-position -171px -108px
					height 61px
					width 65px

				.money
					/*background-position -192px -89px
					width 34px
					height 41px*/
					background-position -272px -115px
					height 61px
					width 53px
				.hiking-boots
					/*background-position -226px -79px
					width 45px
					height 41px*/
					background-position -325px -109px
					height 63px
					width 62px

				.rain-gear
					/*background-position -272px -79px
					width 32px
					height 41px*/
					background-position -389px -109px
					height 63px
					width 45px

				.water-shoes
					/*background-position -343px -79px
					width 36px
					height 42px*/
					background-position -491px -109px
					height 63px
					width 50px

				.swinsuit
					/*background-position -382px -79px
					width 30px
					height 43px*/
					background-position -547px -118px
					height 54px
					width 40px

				.water-camera
					/*background-position -413px -79px
					width 51px
					height 41px*/
					background-position -592px -118px
					height 54px
					width 71px
				.walking-shoes
					background-position -674px -113px
					height 47px
					width 61px
				.clothes
					/*background-position -516px -79px
					width 35px
					height 41px*/
					background-position -738px -107px
					height 54px
					width 48px

				.towel
					/*background-position -554px -79px
					width 49px
					height 41px*/
					background-position -793px -107px
					height 54px
					width 69px
				.long-pants
					/*background-position -605px -79px
					width 32px
					height 41px*/
					background-position -867px -107px
					height 54px
					width 41px
				.sneakers
					/*background-position -637px -79px
					width 41px
					height 41px*/
					background-position -912px -107px
					height 54px
					width 61px
				.light-clothing
					/*background-position -682px -79px
					width 33px
					height 41px*/
					background-position -975px -109px
					height 51px
					width 49px
				.passport
					/*background-position -721px -79px
					width 51px
					height 41px*/
					background-position -1030px -109px
					height 51px
					width 80px
			.tabs

				ul
					float right
					margin 0
					padding 0
					position absolute
					right 20px
					top 0

					#intro 
						background-color $naranja !important
							

					#details
						background-color $lima !important
					#rates, #map
						background-color $verde !important
					
					#booknow
						background-color $rojo !important
						span
							width 62px

					li 
						//overflow auto
						background #CCC
						cursor pointer
						float left
						height 42px
						list-style none
						margin 0px 5px
						opacity 0.8
						position relative
					
					
							

						span 
							color #fff
							display block
							font-size 12px
							height 16px
							text-align center
							width 42px

						.icon-home, .icon-info, .icon-notebook, .icon-coin, .icon-map, .icon-users
							color rgba(255, 255, 255, 0.6)
							font-size 1.3em
							padding-bottom 5px
							padding-top 2px

							/*text-align center
							color #fff
							font-size 12px
							
							width 42px
							height 16px
							padding-top 26px*/

		.item-page
			/*padding 20px
			margin 20px 0px 0px 0px
			clear both
			width 600px
			position relative
			background-color rgba(255, 255, 255, 0.9)*/ 

			p 
				font-weight 500

			h2
							
				a 
					color $lima
				
			a 
				color $naranja
				text-decoration none
			dt 
				display none
			dl 
				margin 0
			dd 
				margin 0
			.published
				background-color $naranja
				color #fff 
				margin-bottom 1em
			
			img
				max-width 100%


		.blog
			.items-row

				.span6, .span12
					display inline-block
					vertical-align top
					margin-right 10px

					.item
						background-color rgba(255, 255, 255, 0.9)
						clear both
						margin 20px 0px 0px 0px
						padding 20px
						position relative
						width 600px

						p 
							font-weight 500
						h2
							margin 0.3em 0
							
							a 
								color $lima
								text-decoration none
							a:hover
								text-decoration underline
							
						a 
							color $rojo
						dt 
							display none
						dl 
							margin 0
						dd 
							margin 0

						.published
							background-color $naranja
							color #fff
							margin-bottom 1em
						
						
						img
							max-width 100%
						/*.btn 
							background-color $rojo
							max-width 100px
							margin-top 20px
							overflow hidden
							position relative
							font-family 'Lato', sans-serif
							font-weight 300
							color #fff
							
							margin-left 15px
							margin-right 0
							line-height 60px
							
							text-decoration none
							display block*/


			.items-more
				display none
			.pagination
				background-color rgba(255, 255, 255, 0.9)
				margin 1em 0 
				clear both
				width 640px 

				.counter
					float right 
					margin 0 9px 9px

				.pagination-list
					//list-style none
					margin 0 auto
					padding 0
					


					li 
						display inline-block
						vertical-align top

						a 
							background-color rgba(255, 255, 255, 0.9) 
							border-left-width 0
							border 1px solid #ddd
							color $rojo
							float left
							line-height 18px
							padding 4px 12px
							text-decoration none
						a:hover
							background-color #f5f5f5

					.disabled > a, .disabled > a:focus, .active > a
						color #999
						

						


										
	
#right-container
	float right
	margin-right 10%
	overflow hidden
	width 210px
	
	#logo
		background-color rgba(255, 255, 255, 0.8) 
		height 130px
		/*line-height 180px*/
		padding-right 0px
		position relative
		text-align center
		width 210px

		#mascara
			display block
			width 210px
			height 130px
			position absolute

		#contenedor_legenda
			background url('../img/legend_aniversario.png') no-repeat 5px 8px rgba(255, 255, 255, 0.3) 
			display block
			width 70px
			height 10px
			position absolute
			right 5px
			top 0px
			overflow hidden
			
			z-index 1

		#legenda
			display block
			background-image url('../img/legend_aniversario.png') 
			position absolute
			right 10px
			top -24px
			width 60px
			height 53px
			z-index 0
		

		img
			margin-top 0.5em

	#menu

		ul 
			margin .5em 0 0
			padding 0

			.orange:hover
				//height auto
				background $naranja
				opacity 1

				
			.green:hover
				//height auto
				background $verde
				opacity 1
				

			.lime:hover
				//height auto
				background $lima
				opacity 1
				

			.menu-item 
				background #000
				color #FFF
				cursor pointer
				display block
				height 40px
				line-height 40px
				margin-bottom 5px
				opacity 0.8
				overflow hidden
				padding-right 15px
				text-align right
				transition background 0.5s ease
				width 195px
				

				a, span 
					color #FFF
					display block
					font-size 12px
					text-decoration none
					text-transform uppercase

				.submenu
					margin -10px 0 0
					padding .5em
					li
						line-height 25px
						list-style none
						margin-left 15px
						text-align left

						a
							display block
							font-size 12px
							text-transform none
							width 100%
						
						a:hover
							background rgba(0,0,0,0.1)



footer
	clear both
	height 40px
	margin-top -38px
	position relative

	#bottom 
		background rgba(0, 0, 0, 0.6)
		bottom 0
		clear both
		height 40px
		line-height 40px
		position absolute
		position absolute
		width 100%

		#menu-bottom, #redes,#patners
			display inline-block
			vertical-align top

		#menu-bottom

			ul
				margin 0

				li
					display inline-block
					margin-right 1em
					vertical-align top

					a
						color #FFF
						font-size 12px
						text-decoration none
						text-transform uppercase

		#redes

			span#twitter:hover 
				background #359bed
			span#facebook:hover 
				background #3a589b

				
			span 
				//padding .5em
				background rgba(256, 256, 256, 0.3)
				border-radius 50%
				display inline-block
				margin-right .5em

				a 
					color #FFF
					display block
					font-size 1em
					padding .5em
					text-decoration none
		
		#patners
			margin-left 20px

			
				

			ul
				list-style none
				margin 0
				padding 0

				li 
					display inline-block
					height 40px
					margin-right 1em
					vertical-align top

					a
						//background #fff
						//height 40px
						//margin-right 1em
						//padding-right 1em
						//vertical-align top
						display block
						text-indent -9999px

				.item-143
					background url("../img/patners.png") no-repeat -66px -2px 
					width 78px

				.item-143:hover
					background-position -66px -50px

				.item-144
					background url("../img/patners.png") no-repeat 0px -4px 
					width 65px

				.item-144:hover
					background-position 0px -52px 

				.item-145
					background url("../img/patners.png") -153px -4px 
					width 41px

				.item-145:hover
					background-position -153px -52px 

				.item-146
					background url("../img/patners.png") -198px -4px 
					width 94px

				.item-146:hover
					background-position -198px -52px 



			/*#ict
				background url("../img/patners.png") no-repeat -66px -2px 
				width 62px

			#ict:hover
				background-position -66px -50px

			#canatur
				background url("../img/patners.png") no-repeat 0px -4px 
				width 45px

			#canatur:hover
				background-position 0px -52px 

			#sostenible
				background url("../img/patners.png") -153px -4px 
				width 30px

			#sostenible:hover
				background-position -153px -52px 
			*/		


		#copyright
			float right
			margin-right 20px

			a 
				color #FFF
				font-size 12px
				text-decoration none

@import "responsive.styl"
					

				