@media only screen and (min-width:  800px) 
	#left-container
		#menu-top
			.menu
				max-height 0em !important
				overflow hidden !important
	
@media only screen and (max-width:  800px) 
	html
		min-width 100% !important

	#right-container
		display none
	
	#left-container
		//width 100%
		display block
		float none
		margin-left 20px

		#menu-top
			height auto

			.navtoogle
				margin 20px 0 0 0
				display block		
			
		#callbox

			#dialogC
				left 20px
				//width 300px
		
		#contactbox

			#dialogT
				left 20px
				//width 300px

		#contenido
			width 100%

			#intro
				.intro-text
					font-size 48px
					margin-top 5%

					strong
						font-size 70px
				#descarga
					a 
						font-size 18px
						

					a > span
						margin-left .5em
						padding 1.8em 1em

			
			#content-title

				h1
					font-size 24px
					line-height 30px

			#content-article
				display block
				width 100%

				.details

					#detail_left
						float none
					#detail_right
						float none
						text-align left
						width 100%

			.blog
				.items-row

					.span6, .span12
						float none

						.item
							width 85%

							h1
								font-size 1.5em
				.pagination
					width 90%
			.item-page
				width 85%

							
	footer
		margin-top 40px
		#bottom
			height auto
			position static

			#copyright, #redes, #patners
				display inline-block
				float none

			#redes, #copyright
				margin-left 20px

@media only screen and (max-width:  480px) 
	body
		background-color #c6b199 
		background-image none !important;
	#left-container
		margin-left 5px
		#contenido
			#content-article 

				.tabs
					ul
						position static
						li 
							margin-bottom 5px

		#menu-top
			.menu-top-item
				display block
				margin-bottom 5px
				width 98%

				span, span.icon
					display inline-block
					font-size 2em
					padding-right 10px
					vertical-align middle
			.large 
				width 98% !important
			.navtoogle
				width 98%	

@media only screen and (max-width:  320px) 
	#left-container
		

		#reservationbox,#callbox,#contactbox
			#dialog
				width 230px

				.column1,.column2
					display block
					width 100%

			#dialogC
				
				width 230px

			#dialogT
				
				width 230px
			.window
				margin-bottom 100px
				margin-top -85px
				position relative


					

	
		

@media only screen and (max-height:  900px) 
	html
		overflow-y auto

   